In [11]:
import pandas as pd

from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import functions as F

spark =  SparkSession.builder.getOrCreate();

In [22]:
df = pd.DataFrame({
  "classification_from": ['H6', 'H5', 'H4'],
  "classification_to": ['H4', 'H4', 'H4'],
})

classification_DF = spark.createDataFrame(df)

DF = spark.read.parquet("HS.parquet")
DF = DF.where(
  (F.col("aggrLevel") == 0)
  | (F.col("aggrLevel") == 2)
  | (F.col("aggrLevel") == 4)
)

DF = DF.where(
  (F.col("id") == "TOTAL")
  | (F.col("id").rlike("^[0-4]"))
)

DF = DF.withColumns({
  "code_from": F.col("id"),
  "code_to": F.col("id"),
})

DF = DF.select(["code_from", "code_to"])
print(DF.count())
DF = DF.crossJoin(classification_DF)
print(DF.count())
DF.show()

/opt/homebrew/Caskroom/miniforge/base/lib/python3.11/site-packages/pyspark/sql/pandas/conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

639
1917
+---------+-------+-------------------+-----------------+
|code_from|code_to|classification_from|classification_to|
+---------+-------+-------------------+-----------------+
|    TOTAL|  TOTAL|                 H6|               H4|
|       01|     01|                 H6|               H4|
|     0101|   0101|                 H6|               H4|
|     0102|   0102|                 H6|               H4|
|     0103|   0103|                 H6|               H4|
|     0104|   0104|                 H6|               H4|
|     0105|   0105|                 H6|               H4|
|     0106|   0106|                 H6|               H4|
|       02|     02|                 H6|               H4|
|     0201|   0201|                 H6|               H4|
|     0202|   0202|                 H6|               H4|
|     0203|   0203|                 H6|               H4|
|     0204|   0204|                 H6|               H4|
|     0205|   0205|                 H6|               H4|
|     0206|   0206|                 H6|               H4|
|     0207|   0207|                 H6|               H4|
|     0208|   0208|                 H6|               H4|
|     0209|   0209|                 H6|               H4|
|     0210|   0210|                 H6|               H4|
|       03|     03|                 H6|               H4|
+---------+-------+-------------------+-----------------+
only showing top 20 rows

In [13]:
DF_2022 = spark.read.parquet("HS2022_2012.parquet")
DF_2022 = DF_2022.withColumns({
  "classification_from": F.lit("H6"),
  "classification_to": F.lit("H4"),
  "code_from": F.col("HS2022"),
  "code_to": F.col("HS2012"),
})
DF_2022 = DF_2022.select([
  "classification_from",
  "classification_to",
  "code_from",
  "code_to",
])
DF_2022.show()

+-------------------+-----------------+---------+-------+
|classification_from|classification_to|code_from|code_to|
+-------------------+-----------------+---------+-------+
|                 H6|               H4|   010121| 010121|
|                 H6|               H4|   010129| 010129|
|                 H6|               H4|   010130| 010130|
|                 H6|               H4|   010190| 010190|
|                 H6|               H4|   010221| 010221|
|                 H6|               H4|   010229| 010229|
|                 H6|               H4|   010231| 010231|
|                 H6|               H4|   010239| 010239|
|                 H6|               H4|   010290| 010290|
|                 H6|               H4|   010310| 010310|
|                 H6|               H4|   010391| 010391|
|                 H6|               H4|   010392| 010392|
|                 H6|               H4|   010410| 010410|
|                 H6|               H4|   010420| 010420|
|                 H6|               H4|   010511| 010511|
|                 H6|               H4|   010512| 010512|
|                 H6|               H4|   010513| 010513|
|                 H6|               H4|   010514| 010514|
|                 H6|               H4|   010515| 010515|
|                 H6|               H4|   010594| 010594|
+-------------------+-----------------+---------+-------+
only showing top 20 rows

In [16]:
DF_2017 = spark.read.parquet("HS2017_2012.parquet")
DF_2017 = DF_2017.withColumns({
  "classification_from": F.lit("H5"),
  "classification_to": F.lit("H4"),
  "code_from": F.col("HS2017"),
  "code_to": F.col("HS2012"),
})
DF_2017 = DF_2017.select([
  "classification_from",
  "classification_to",
  "code_from",
  "code_to",
])
DF_2017.show()

+-------------------+-----------------+---------+-------+
|classification_from|classification_to|code_from|code_to|
+-------------------+-----------------+---------+-------+
|                 H5|               H4|   010121| 010121|
|                 H5|               H4|   010129| 010129|
|                 H5|               H4|   010130| 010130|
|                 H5|               H4|   010190| 010190|
|                 H5|               H4|   010221| 010221|
|                 H5|               H4|   010229| 010229|
|                 H5|               H4|   010231| 010231|
|                 H5|               H4|   010239| 010239|
|                 H5|               H4|   010290| 010290|
|                 H5|               H4|   010310| 010310|
|                 H5|               H4|   010391| 010391|
|                 H5|               H4|   010392| 010392|
|                 H5|               H4|   010410| 010410|
|                 H5|               H4|   010420| 010420|
|                 H5|               H4|   010511| 010511|
|                 H5|               H4|   010512| 010512|
|                 H5|               H4|   010513| 010513|
|                 H5|               H4|   010514| 010514|
|                 H5|               H4|   010515| 010515|
|                 H5|               H4|   010594| 010594|
+-------------------+-----------------+---------+-------+
only showing top 20 rows

In [21]:
DF = DF.unionAll(DF_2022)
DF = DF.unionAll(DF_2017)
DF.write.
DF.where(F.col("code_from") == "TOTAL").show()
DF.count()

+---------+-------+-------------------+-----------------+
|code_from|code_to|classification_from|classification_to|
+---------+-------+-------------------+-----------------+
|    TOTAL|  TOTAL|                 H6|               H4|
|    TOTAL|  TOTAL|                 H5|               H4|
|    TOTAL|  TOTAL|                 H4|               H4|
+---------+-------+-------------------+-----------------+

22702